<!-- Footer -->
<footer class="footer">
        <div class="footer-cols">
                <ul>
                        <li><a href="https://www.facebook.com/364470424192691" target="_blank"><i class="fab fa-facebook fa-3x"></i></a></li>
                </ul>
                <ul>
                        <li><a href="https://www.youtube.com/channel/UCBV7Fz5SJbB6ZdFIasJ1Mog" target="_blank"><i class="fab fa-youtube fa-3x"></i></a></li>
                </ul>
                <ul>
                        <li><a href="https://www.linkedin.com/company/privatemortgagefinder/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a></li>
                </ul>
                <ul>
                        <li><a href="https://www.instagram.com/private.mortgage.finder/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a></li>
                </ul>
        </div>
        <br>
        <div class="footer-cols">
            <ul>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
            </ul>
            <ul>
                <li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
            </ul>
            <ul>
                <li><a href="{% url 'termsofuse' %}">Terms of Use</a></li>
            </ul>
            <ul>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
            
        </div>
        <br>
        <div>
            <p id="footeracknowledge">
                    Accessing this website, I acknowledge that I have read and agree to abide by the Terms of Use and consent by electronic signature to be contacted by a live mortgage agent and SMS text at my residential or cellular number (dialed manually or by autodialed) and by email. Calls may be recorded for quality assurance.
            </p>
        </div>
        <div>
                <p id="footeracknowledge">
                        PrivateMortgageFinder.com is not a lender or mortgage broker in any transaction. All credit decisions, including loan approval and the conditional rates and terms you are offered, are the responsibility of the participating lenders and brokers and will vary based upon your loan request and determined by the lenders or brokers to whom you are matched. Not all consumers will qualify for the advertised rates and terms. You may not be matched with the lender or broker, and we do not guarantee that any lender will make you a conditional loan offer. PrivateMortgageFinder.com arranges for multiple conditional loan offers through our network of nonaffiliated lenders and brokers. See the Terms of Use Agreement for more details. The Terms of Use Agreement governs these advertised Terms and Information.
                        <br><br>
                        PrivateMortgageFinder © 2019
                </p>
        </div>

</footer>