{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="app-showcase-content">
        <div class="tab-1-content-inner">
                <h1>FAQ</h1>
            <div>
                <a href="{% url 'index' %}" class="alt-btn"><i class="fas fa-chevron-left btn-icon"></i> Back to home</a>
            </div>
           
        </div>
        
</div>
<section class="faq">
        <div class="container">
            
            <div class="faq-item">
                <br>
                <h2 class="faq-h2">Is my information safe?</h2>
                <p class="faq-p">Yes, completely - all client info is kept offsite on an encrypted server with a major company. We do not sell your information to third party brokerages or lenders.</p>
                <br>
            </div>
            <hr class="faq-hr">
            <div class="faq-item">
                    <br>
                    <h2 class="faq-h2">Will my deal really close in 3-5 business days?</h2>
                    <p class="faq-p">The speed of closing can only be determined on the nature of the deal. This will be discussed during our interview process.</p>
                    <br>
                </div>
            <hr class="faq-hr">
            <div class="faq-item">
                    <br>
                    <h2 class="faq-h2">Are there any upfront fees for your services?</h2>
                    <p class="faq-p">No. However, there might be appraisal and legal costs if your deal requires appraisal and legal retainers or lender administration costs.</p>
                    <br>
                </div>
            <hr class="faq-hr">
            <div class="faq-item">
                <br>
                        <h2 class="faq-h2">What documentation do I need to close my private mortgage deal?</h2>
                        <p class="faq-p">You will be informed when our mortgage broker interviews you - typically income documents, mortgage and property tax statements.</p>
                <br>
            </div>
            <hr class="faq-hr">
            <div class="faq-item">
                <br>
                    <h2 class="faq-h2">How do I know I’m getting favourable terms and rates?</h2>
                    <p class="faq-p">We work with over 100 lenders and we have access to best rates depending on the client profile, debt ratios, credit, property condition and location.</p>
                <br>
            </div>
            <hr class="faq-hr">
            <div class="faq-item">
                <br>
                        <h2 class="faq-h2">I need to close on a home purchase ASAP. How fast can you act?</h2>
                        <p class="faq-p">Very fast. As soon as all lender conditions are met and as per closing date on the purchase agreement.</p>
            <br>
                </div>
            <hr class="faq-hr">
            <div class="faq-item">
                <br>
                        <h2 class="faq-h2">What are the fees you charge for closing a deal?</h2>
                    <p class="faq-p">Fees are determined on a case by case basis and decided after full evaluation of the financial transaction, difficulty based on credit, income and any other issues.</p>
                <br>
                </div>
            <hr class="faq-hr">
            <div class="faq-item">
                <br>
                            <h2 class="faq-h2">How are those fees paid?</h2>
                    <p class="faq-p">Fees are paid on closing through the lawyers.</p>
            <br>
                </div>
            <hr class="faq-hr">
            <div class="faq-item">
                <br>
                    <h2 class="faq-h2">How many lenders do you have access to?</h2>
                    <p class="faq-p">We work with over 100 private and institutional mortgage lenders.</p>
            <br>
                </div>
            <hr class="faq-hr">
            <div class="faq-item">
                <br>
                        <h2 class="faq-h2">Will you spam me with unwanted calls and emails?</h2>
                    <p class="faq-p">No. if you request your info will be removed from our database.</p>
            <br>
                </div>
            <hr class="faq-hr">
            <div class="faq-item">
                <br>
                    <h2 class="faq-h2">Do you work outside of Ontario?</h2>
                    <p class="faq-p">Yes, we do but normally only on commercial and construction deals.</p>
            <br>
                </div>
            <hr class="faq-hr">
            <div class="faq-item">
                <br>
                            <h2 class="faq-h2">Do you work with people who are non-residents of Canada?</h2>
                            <p class="faq-p">Yes, we do work with non-residents.</p>
           <br>
                        </div>

        </div>

    </section>

    <section class="faq-cta">
            <div class="container">
                <div id="tab-1-content" class="tab-content-item show">
                    <div class="tab-1-content-inner">
                        <div>
                            <br>
                            <p class="text-lg">
                                Have further questions?
                            </p>
                        </div>
                         <a href="contact/" class="btn btn-lg">Contact us</a>
                    </div>
                </div>
            </section>
{% endblock %}