{% extends 'base.html' %}

{% block content %}
<div class="app-showcase-content">
        <div class="tab-1-content-inner">
                <h1>Privacy Policy</h1>
            <div>
                <a href="{% url 'index' %}" class="alt-btn"><i class="fas fa-chevron-left btn-icon"></i> Back to home</a>
            </div>
        </div>
</div>
<section class="faq">
        <div class="container">
            
            <div class="faq-item">
                <br>
                <h2 class="faq-h2">How We Protect Your Privacy</h2>
                <p class="faq-p">This website privacy policy tells you how we collect, use, and protect your personal information. By visiting our website (http://www.PrivateMortgageFinder.com), you accept and agree to the terms and conditions of this website privacy policy. In particular, you consent to our collection and use of your personal information as described in this website privacy policy.</p>
                <br>
            </div>
            <hr class="faq-hr">
            <div class="faq-item">
                    <br>
                    <h2 class="faq-h2">Minors</h2>
                    <p class="faq-p">We do not provide services or sell products to children. However, we may sell products to adults for use by children. Regardless of the intended end user of our products, only adults should purchase anything from our website. If a product we offer is legal only for adults to use or possess, no adult should purchase the product for illegal use or possession by a minor. <br><br> If you are less than 18 years old, you may use our website only with the permission, active involvement, and supervision of an adult parent or legal guardian. If you are a minor, please do not provide us or other website visitors with any personal information.</p>
                    <br>
            </div>
            <hr class="faq-hr">
            <div class="faq-item">
                    <br>
                    <h2 class="faq-h2">This Policy Is Part Of Our Terms And Conditions Of Use</h2>
                    <p class="faq-p">Our website privacy policy is a part of, and subject to, our website's Terms and Conditions of Use. You may view these terms and conditions on our website.</p>
                    <br>
            </div>
            <hr class="faq-hr">
            <div class="faq-item">
                    <br>
                    <h2 class="faq-h2">What We Do With Your Information</h2>
                    <p class="faq-p">We use your information to operate our website's business activities. For example, we may use this data to contact you about changes to our website, direct marketing (e.g. new products and services, special offers, etc.), resolve disputes, troubleshoot issues, and enforce our website's terms and conditions.</p>
                    <br>
            </div>
</section>

    <section class="faq-cta">
            <div class="container">
                <div id="tab-1-content" class="tab-content-item show">
                    <div class="tab-1-content-inner">
                        <div>
                            <br>
                            <p class="text-lg">
                                Have further questions?
                            </p>
                        </div>
                        <a href="contact/" class="btn btn-lg">Contact us</a>
                    </div>
                </div>
            </section>
{% endblock %}