{% extends 'base2.html' %}
{% load static %}

{% block content %}
<section class="faq">
        <div class="container">
            
            <div class="faq-item">
                    <div>
                            <a href="{% url 'index' %}" class="alt-btn"><i class="fas fa-chevron-left btn-icon"></i> Back to home</a>
                    </div>
                <br>
                <h2 class="faq-h2">Request submitted.</h2>
                <p class="faq-p">A mortgage broker from 
                        Money Solutions Inc. (FSCO Broker Licence #10731) will be in touch with you within 4 hours.
                        
                       
                        
                        <br>
                        <br>
                        
                        Thank you for using 
                        privatemortgagefinder.com!</p>
                <br>
            </div>

    </section>

{% endblock %}