{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=R, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/basicinfo_style.css' %}">

    <link rel="shortcut icon" type="image/png" href="/static/img/pmf_favi3.png"/>
    <meta name="description" content="Fast, transparent and flexible private mortgages online for Canada.">
    <meta name="keywords" content="second mortgage, refinance, no credit, poor credit, bankruptcy, unverifiable income, low income, home purchase, private mortgage, lender, lenders, newcomers, toronto, loans, debt">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <title>Private Mortgage Finder</title>
    <meta name="description" content="Fast, transparent and flexible private mortgages online for Canada.">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141655943-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141655943-1');
</script>

</head>
<body>
    
    <!-- Navbar -->
    {% include 'partials/_navbar2.html' %}

    <!-- Main Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% include 'partials/_footer.html' %}

    <script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/main.js' %} "></script>
</body>
</html>